@CHARSET "EUC-KR";

.guideintro_list_title{
	text-align: center;
}
.guideintro_list_td{
	width:320px;
	height:300px;
	padding: 30px;
}
<<<<<<< HEAD
=======
.guideintro_list_td img{
	width: 330px;
	height: 250px;
}
>>>>>>> branch 'master' of https://github.com/kss8869/KH_Academy.git
