@CHARSET "EUC-KR";
/* 상단 부분  */
#tour_detail_first{
	border: 3px solid yellow;
}
.div_1{
	
	float: left;
}
.div_1 >table{
	width: 550px;
}
.div_2{
	float: left;
}
/* 중단 부분 */
#tour_detail_second{
	clear: both;
}
#tour_detail_second{
	border: 2px solid black;
	
	
}
#fieldset_1{
	width: 800px;
	padding: 10px;
	background-color: red;
}
#tour_detail_second_table1{
	width: 800px;
}
#tour_detail_second_table2{
	width: 880px;
}
#tour_detail_second_table2 table{
	border: 3px solid black;
	width: 700px;
}
#tour_detail_second_table2 table td{
	
	
}
/* 하단 부분  */
#tour_detail_thrid{
	
}